.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  //
  margin: 0 auto;
  // max-width: 480px;
  // width: 100%;
  //
  text-align: center;
  background-color: var(--hero-bgcolor);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-3mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-3mob@2x.jpg);
  }
  @media (min-width: 768px) {
    //
    // max-width: 768px;
    //
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-2tab.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-2tab@2x.jpg);
    }
  }
  @media (min-width: 1200px) {
    max-width: 1600px;
    // height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-1ps.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-1ps.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-prime-color);

  // @media screen and (min-width: 1200px)
  @include desktop {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

// .big-button {
//   display: inline-block;
//   width: 200px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: calc(30 / 16);

//   color: var(--bg-prime-color);
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;

//   background-color: var(--text-accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   transition: background-color $function;

//   &:hover,
//   &:focus {
//     background-color: var(--bigButton-hover-focus);
//   }
// }
