body {
  font-family: 'Roboto', sans-serif;
  // font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;

  color: var(--text-prime-color);
  background-color: rgb(184, 183, 183);
}
