// ! ==== ЗАГОЛОВКИ СБРОС отступов
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

// ! ===== РИСУНКИ В BLOCK
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// ! == стили для списков
.list {
  // margin-top: 0;
  // margin-bottom: 0;
  padding: 0;
  list-style: none;
}

// ! ===== стили для ссылок
.link {
  text-decoration: none;
}

// ! ===== PADDING для ВСЕХ INPUT
input {
  padding: 0;
}
